[Desktop Entry]
Version=1.0
Name=Socks-Bob
Type=Application
Comment=Server side of SocksAB, a simple proxy app
Keywords=Internet;VPN;Proxy;Qt;
Categories=Network;Qt;
Terminal=true
Icon=SocksAB
Exec=Socks-Bob
