[Desktop Entry]
Version=1.0
Name=Socks-Alice
Type=Application
Comment=Client side of SocksAB, a simple proxy app
Keywords=Internet;VPN;Proxy;Qt;
Categories=Network;Qt;
Terminal=false
Icon=Socks-Alice
Exec=Socks-Alice
